@font-face {
  font-family: "icon";
  src: url("fonts/hotanht.eot");
  src: url("fonts/hotanht.eot?#iefix") format("embedded-opentype"),
       url("fonts/hotanht.woff") format("woff"),
       url("fonts/hotanht.ttf") format("truetype"),
       url("fonts/hotanht.svg#hotanht") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icon";
    src: url("fonts/hotanht.svg#hotanht") format("svg");
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {   
  font-family: icon;
  font-style: normal;
}

.icon-aparat:before { content: "\f100"; }
.icon-telegram:before { content: "\f101"; }
.icon-instagram:before { content: "\f102"; }
.icon-whatsapp:before { content: "\f103"; }
.icon-skype:before { content: "\f104"; }
.icon-linkedin:before { content: "\f105"; }
.icon-twitter:before { content: "\f106"; }
.icon-fax:before { content: "\f107"; }
.icon-pin:before { content: "\f108"; }
.icon-phone:before { content: "\f109"; }
.icon-mobile:before { content: "\f10a"; }
.icon-google:before { content: "\f10b"; }
.icon-download:before { content: "\f10c"; }
.icon-zoom-plus:before { content: "\f10d"; }
.icon-plus:before { content: "\f10e"; }
.icon-minus:before { content: "\f10f"; }
.icon-eye:before { content: "\f110"; }
.icon-favorite:before { content: "\f111"; }
.icon-favorite-outline:before { content: "\f112"; }
.icon-dislike:before { content: "\f113"; }
.icon-like:before { content: "\f114"; }
.icon-comment:before { content: "\f115"; }
.icon-done:before { content: "\f116"; }
.icon-tick:before { content: "\f117"; }
.icon-home:before { content: "\f118"; }
.icon-email:before { content: "\f119"; }